* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.game-container {
    font-family: 'VT323', monospace;
    width: 500px;
    height: 730px;
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
}

.border-left, .border-right {
    position: absolute;
    z-index: +1;
    width: 60px;
    height: 730px;
    background-color: white;
    top: 0;
}

.border-left {
    left: -60px;
}

.border-right {
    right: -60px;
}

.sky {
    background-image: url('img/fb-game-background.png');
    width: 500px;
    height: 580px;
    position: absolute;
}

.ground {
    background-image: url('img/bottom-background.png');
    width: 500px;
    height: 150px;
    position: absolute;
    top: 580px;
    z-index: +1;
}

.bird {
    background-image: url('img/flappy-bird.png');
    position: absolute;
    width: 60px;
    height: 45px;
}

.obstacle {
    background-image: url('img/flappybird-pipe.png');
    width: 60px;
    height: 300px;
    position: absolute;
}

.topObstacle {
    background-image: url('img/flappybird-pipe.png');
    transform: rotate(180deg);
    width: 60px;
    height: 300px;
    position: absolute;
}

.gameOver {
    display: none;
    position: absolute;
    font-size: 52px;
    color: #ebfcdc;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: +1;
    flex-direction: column;
}

.tryAgain {
    font-family: 'VT323', monospace;
    background: none;
    cursor: pointer;
    border: none;
    font-size: 48px;
    color: #ebfcdc;
}

.tryAgain:hover {
    color: #dcdb93;
}

.score {
    position: absolute;
    font-size: 52px;
    color: #ebfcdc;
    z-index: +1;
    left: 36px;
    top: 24px;
}

